{{extend 'layout.html'}}

<div style="text-align: center;">
<form action="getGrainImage">
  <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px; max-width: 80%; word-wrap: normal;">Get image of grains for analysis</button>
</form>
<form action="getGrainImageIPhoneContaminated1">
  <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px; max-width: 80%; word-wrap: normal;">Get image of grains for analysis (from iPhone!) - Contaminated Image</button>
</form>
<form action="getGrainImageIPhoneOkay1">
  <button type="submit" class="btn btn-primary" style="margin-top: 10px; margin-bottom: 10px; max-width: 80%; word-wrap: normal;">Get image of grains for analysis (from iPhone!) - Good Image</button>
</form>
</div>
