{{extend 'layout.html'}}
<div style="text-align: center;">
<h3>The contamination analysis images are as below:</h3>
<h4 style="margin-top: 25px; margin-bottom: 10px;">AnalysisType1</h4>
<img src="{{=URL('static','images/AnalysisType1.jpg')}}" class="img-responsive" alt="Analysis Type 1" style="display: inline-block; margin-bottom: 5px;">
<h4 style="margin-top: 25px; margin-bottom: 10px;">AnalysisType2</h4>
<img src="{{=URL('static','images/AnalysisType2.jpg')}}" class="img-responsive" alt="Analysis Type 2" style="display: inline-block; margin-bottom: 5px;">
<h4 style="margin-top: 25px; margin-bottom: 10px;">AnalysisType3</h4>
<img src="{{=URL('static','images/AnalysisType3.jpg')}}" class="img-responsive" alt="Analysis Type 3" style="display: inline-block; margin-bottom: 5px;">
<h4 style="margin-top: 25px; margin-bottom: 10px;">AnalysisType4</h4>
<img src="{{=URL('static','images/AnalysisType4.jpg')}}" class="img-responsive" alt="Analysis Type 4" style="display: inline-block; margin-bottom: 5px;">
</div>
